*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
    margin-top: -1px;
    position: sticky;
    top:0;
    & + div{
        display: block;
        margin:30px auto;
        text-align: center;
    }
}
nav{
    position: relative;
    width:100vw;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px 10px calc(100vw - 50%);
    background-color: black;
    z-index: 2;
}
#logo{
    border-radius: 55%;

    & + p{
        position: absolute;
        top:0px;
        left:60px;
        font-size:0.8em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
}
#logo-link{
    padding-top: 3px;
    position: absolute;
    top: 4px;
    left: 20px;
    color: white;
    &:hover{
        scale: 1;
        transition: none;
    }

}
nav > a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &:hover{
        scale: 1.2;
        transition: all 200ms ease-in-out;
    }
}

.input-div{
    margin: 20px auto;
    font-size: 2rem;
    font-weight: 750 !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center !important;
    background-color: #f5f6fe;
    padding:30px 40px;
}
#city{
    height:40px;
    width: 500px;
    border: none;
}
#btn{
    padding: 15px 30px;
    font-size: 0.9em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f5f6fe;
    background-color: black;
    border-radius: 15px;
    opacity: 0.7;
    animation: jump 0.2s infinite alternate;
    z-index: 1;
    &:hover {
        opacity: 1;
        scale: 1.1;
        animation: none;

    }
    &:active{
        scale:0.8;
    }
}
@keyframes jump {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

table{
    margin: 10px auto 22px auto;
    background-color:#f5f6fe;
    border-color: cornflowerblue;

    & th{
        background-color:cornflowerblue;
        color: #f5f6fe;
       
    }
   

}
footer > div{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50px;
    padding: 20px;
    a img{
       
        position: relative;
        top:2px;
        border-radius: 50%;
    }
    & + p{
        display:block;
        background-color: #6a09a3;
        color: white;
        text-align: center;
        padding:5px ;
        font-size: 0.8em;
    }
} 
svg{
    position: relative;
    top:2px;
    background-color: #f5f6fe;
    border-radius: 5px;
    
}
#beauty-img{
     /* Ensure the image doesn't exceed the screen width */
    height: 400px;
}
@media (max-width : 500px) {
    #beauty-img{
        width: 100vw; /* Ensure the image doesn't exceed the screen width */
        height: auto;
        
    }
    body > div:first-of-type{
        font-size: 0.5em;
        width: 100vw;
    }
}
